<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>GroupMe - The Trump Bot</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'bots/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{% static 'bots/css/blog-home.css' %}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-primary bg-primary fixed-top">
    <div class="container">
      <a style="color: white;" class="navbar-brand" href="#">GroupMe Task Automation</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/bots/list/">View Bots
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a style="color: white;" class="nav-link" href="http://127.0.0.1:8000/bots/create">Add Bot ID's</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
     {%block content%}{%endblock%}
     
    </div>
  <!-- /.container -->


  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; GroupMe Task Automation 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'bots/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'bots/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
