{% extends "bots/base.html"%}
{%load crispy_forms_tags%} 
{%block content%}


 <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
	      <h1 class="my-4">Bot List
        </h1>


        <hr>


        <br> 
      <div class="list-group">

        {%for bot in bots%}
       
     
		<a href="{%url 'bot-detail' bot.id%}" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
		  <h5 class="mb-1">{{bot.name}}</h5>
            <small class="text-muted">{{bot.date_posted}}</small>
          </div>
          <p class="mb-1" style="color:  #078ecd; ">{{bot.bot_id}}</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>

       
        {%endfor%}

        <br>
      </div>

      <br> <br> 

        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

         <div class="card my-4">
          <h5 class="card-header">All bots</h5>
          <div class="card-body">

            Make sure your bot id has NO SPACES when adding them
         
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Need help setting up?</h5>
          <div class="card-body">

            <p1> Click <a href="https://github.com/xXSlothaiXx/GroupMe-Task-Automation">Here</a> if you need help setting up the application</p1>
         
          </div>
        </div>





      </div>

    </div>
    <!-- /.row -->

    {%endblock content%}



