{% extends "bots/base.html"%}
{%load crispy_forms_tags%} 
{%block content%}


 <div class="row">

      <!-- Blog Entries Column -->
      <div class="col-md-8">
	      <h1 class="my-4">Trump Tweets Log 
          <small>Instructor Name</small>
        </h1>

          <h3> Most recent</h3>

        <hr>


        <br> 
      <div class="list-group">

        {%for insult in insults%}
       
      


          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">Joe Tang</h5>
            <small class="text-muted">{{insult.date_posted}}</small>
          </div>
          <p class="mb-1" style="color:  #078ecd; ">{{insult.insult}}</p>
          <small class="text-muted">Donec id elit non mi porta.</small>
        </a>

       
        {%endfor%}

        <br>
      </div>

      <br> <br> 


        <!-- Pagination -->
        <ul class="pagination justify-content-center mb-4">
          <li class="page-item">
            <a class="page-link" href="#">&larr; Older</a>
          </li>
          <li class="page-item disabled">
            <a class="page-link" href="#">Newer &rarr;</a>
          </li>
        </ul>

      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4">

         <div class="card my-4">
          <h5 class="card-header">The Trump Tweet Logger</h5>
          <div class="card-body">

            All of trumps tweets that are being logged
         
          </div>
        </div>

      

    


        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Start Bot</h5>
          <div class="card-body">

            <form method="post" action="{%url 'start-bot' %}"> 

             &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-primary">Start Bot</button>

           </form>
         
          </div>
        </div>





      </div>

    </div>
    <!-- /.row -->

    {%endblock content%}
